*.DS_Store
._Rollbar.xcodeproj
._Rollbar.m
._CrashReporter.h
._PLCrashAsyncSignalInfo.h
._PLCrashFeatureConfig.h
._PLCrashNamespace.h
._PLCrashReport.h
._PLCrashReportApplicationInfo.h
._PLCrashReportBinaryImageInfo.h
._PLCrashReportExceptionInfo.h
._PLCrashReportFormatter.h
._PLCrashReportMachExceptionInfo.h
._PLCrashReportMachineInfo.h
._PLCrashReportProcessInfo.h
._PLCrashReportProcessorInfo.h
._PLCrashReportRegisterInfo.h
._PLCrashReportSignalInfo.h
._PLCrashReportStackFrameInfo.h
._PLCrashReportSymbolInfo.h
._PLCrashReportSystemInfo.h
._PLCrashReportTextFormatter.h
._PLCrashReportThreadInfo.h
._PLCrashReporter.h
._PLCrashReporterConfig.h
._build.config
._build.xml
._extension.xml
._platform.xml
._Rollbar.framework
._CrashReporter
._Resources
._Info.plist
._Headers
._Rollbar
._Rollbar.h
._RollbarConfiguration.h
